/* .home-page-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}

.home-header-div {
  height: 15vh;
  width: 100%;
  background-color: tan;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  font-size: 35px;
  text-align: center;
  border-radius: 7px;
}

.link {
  text-decoration: none;
}

.home-featured-review-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.home-featured-review-div .album-picture {
  width: 200px;
  height: 200px;
} */
