/* 
SOURCES
For .react-player sizing: https://www.youtube.com/watch?v=Rq5SEhs9lws
*/

.card {
  box-shadow: 2px 2px 10px #323031;
}

.review-page-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.video-div {
  position: relative;
  padding-top: 56.25%;
  width: 70vw;
  height: auto;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* .video-div {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-div iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
} */
