html {
  background-color: #3d3b3c;
  color: white;
  margin: 0;
  font-family: "Exo 2", sans-serif;
}

nav {
  /* background-color: #fff; */
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-bottom: solid white 2px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Metal Mania", cursive;
  font-size: 7vh;
}
